In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt
import math
import warnings
warnings.filterwarnings('ignore')

In [55]:
ais_dataset = pd.read_csv('./datasets/ais_dataset.csv')
port_call_dataset = pd.read_csv('./datasets/port_call_dataset.csv')
distance_dataset = pd.read_csv('./datasets/distance_dataset.csv')




print(len(ais_dataset['imo'].unique()))
print(len(port_call_dataset['imo'].unique()))
print(ais_dataset.info())
print(port_call_dataset.info())
print(distance_dataset.info())
# no terminal, maneuvering , berth
# suggests that only anchored and transit
# we can simply find if anchored or not

2543
4166
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251769 entries, 0 to 251768
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imo                    251769 non-null  int64
 1   mmsi                   251769 non-null  int64
 2   vessel_name            251769 non-null  object
 3   date_of_build          251769 non-null  object
 4   vessel_type            251769 non-null  object
 5   group                  251769 non-null  object
 6   timestamp              251769 non-null  object
 7   lon                    251769 non-null  float64
 8   lat                    251769 non-null  float64
 9   nav_stat               251769 non-null  int64
 10  speed                  249752 non-null  float64
 11  course                 251769 non-null  int64
 12  heading                250464 non-null  float64
 13  fuel_category          251769 non-null  int64
 14  main_engine_fuel_type  251769 non-null  object
 15  aux_engine_fuel_type   251769 non-null  object
 16  engine_type            251334 non-null  object
 17  berth                  0 non-null       float64
 18  port_name              251769 non-null  object
 19  anchorage              249656 non-null  object
 20  terminal               0 non-null       float64
 21  maneuvering_zone       0 non-null       float64
 22  p                      251318 non-null  float64
 23  vref                   250087 non-null  float64
 24  sfc_me                 251334 non-null  float64
 25  sfc_ae                 251334 non-null  float64
 26  sfc_ab                 251769 non-null  float64
 27  ael                    251769 non-null  float64
 28  abl                    251769 non-null  float64
 29  distance               251769 non-null  float64
dtypes: float64(15), int64(5), object(10)
memory usage: 57.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   current_snapshot_date_utc             4166 non-null   object
 1   imo                                   4166 non-null   int64
 2   current_port_name                     4166 non-null   object
 3   current_port_country_name             4166 non-null   object
 4   current_earliest_visit_time_utc       4166 non-null   object
 5   current_latest_visit_time_utc         4166 non-null   object
 6   current_zone_polygon_name             4166 non-null   object
 7   current_zone_type                     4166 non-null   object
 8   next_port_name                        4047 non-null   object
 9   next_country_name                     4047 non-null   object
 10  next_country_earliest_visit_time_utc  4047 non-null   object
 11  next_country_latest_visit_time_utc    4047 non-null   object
 12  next_zone_polygon_name                3940 non-null   object
 13  next_snapshot_date                    4047 non-null   object
 14  next_zone_type                        3940 non-null   object
 15  prev_port_name                        4166 non-null   object
 16  prev_country_name                     4166 non-null   object
 17  prev_country_earliest_visit_time_utc  4166 non-null   object
 18  prev_country_latest_visit_time_utc    4166 non-null   object
 19  prev_zone_polygon_name                4100 non-null   object
 20  prev_snapshot_date                    4166 non-null   object
 21  prev_zone_type                        4100 non-null   object
dtypes: int64(1), object(21)
memory usage: 716.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12553 entries, 0 to 12552
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   snapshot_date_utc  12553 non-null  object
 1   imo                12553 non-null  int64
 2   distance_nm        12553 non-null  float64
 3   duration_minutes   12553 non-null  float64
 4   avg_speed_kt       12553 non-null  float64
 5   min_speed_kt       12553 non-null  float64
 6   max_speed_kt       12553 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 686.6+ KB
None

### Dropping Columns
---

##### AIS

In [56]:
# dropping missing values
ais_dataset.drop(columns=['berth' , 'terminal' , 'maneuvering_zone'] , inplace=True)
# ais_dataset.dropna(inplace=True) # ã€Š 5% missing data

In [57]:
# From background research cum provided information
# ABL AEL !== 0
# drop meta data:
# port_name , mmsi (cannot be used since other datasets only have imo) , date_of_build
useless_columns = ['port_name' , 'mmsi' , 'date_of_build']
ais_dataset.drop(columns=useless_columns , inplace=True)

In [58]:
abl_ael_not_zero_condition = (ais_dataset['abl'] > 0) & (ais_dataset['ael'] > 0)
ais_dataset = ais_dataset[abl_ael_not_zero_condition]

In [59]:
ais_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248013 entries, 0 to 251768
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imo                    248013 non-null  int64
 1   vessel_name            248013 non-null  object
 2   vessel_type            248013 non-null  object
 3   group                  248013 non-null  object
 4   timestamp              248013 non-null  object
 5   lon                    248013 non-null  float64
 6   lat                    248013 non-null  float64
 7   nav_stat               248013 non-null  int64
 8   speed                  246213 non-null  float64
 9   course                 248013 non-null  int64
 10  heading                246742 non-null  float64
 11  fuel_category          248013 non-null  int64
 12  main_engine_fuel_type  248013 non-null  object
 13  aux_engine_fuel_type   248013 non-null  object
 14  engine_type            247590 non-null  object
 15  anchorage              246144 non-null  object
 16  p                      247590 non-null  float64
 17  vref                   246624 non-null  float64
 18  sfc_me                 247590 non-null  float64
 19  sfc_ae                 247590 non-null  float64
 20  sfc_ab                 248013 non-null  float64
 21  ael                    248013 non-null  float64
 22  abl                    248013 non-null  float64
 23  distance               248013 non-null  float64
dtypes: float64(12), int64(4), object(8)
memory usage: 47.3+ MB

### Imputing

In [60]:
# When looking through the speed we notice each imo has a null speed
# This suggests that each ship is anchored-travels to sg-travels further/stays in sg
# Speed null values can be imputed as '0'
ais_dataset['speed'].fillna(0 , inplace=True)

In [61]:
# We can also drop speeds that are greather than 30
less_than_30_condition = ais_dataset['speed'] < 30
ais_dataset = ais_dataset[less_than_30_condition]

In [62]:
ais_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248013 entries, 0 to 251768
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imo                    248013 non-null  int64
 1   vessel_name            248013 non-null  object
 2   vessel_type            248013 non-null  object
 3   group                  248013 non-null  object
 4   timestamp              248013 non-null  object
 5   lon                    248013 non-null  float64
 6   lat                    248013 non-null  float64
 7   nav_stat               248013 non-null  int64
 8   speed                  248013 non-null  float64
 9   course                 248013 non-null  int64
 10  heading                246742 non-null  float64
 11  fuel_category          248013 non-null  int64
 12  main_engine_fuel_type  248013 non-null  object
 13  aux_engine_fuel_type   248013 non-null  object
 14  engine_type            247590 non-null  object
 15  anchorage              246144 non-null  object
 16  p                      247590 non-null  float64
 17  vref                   246624 non-null  float64
 18  sfc_me                 247590 non-null  float64
 19  sfc_ae                 247590 non-null  float64
 20  sfc_ab                 248013 non-null  float64
 21  ael                    248013 non-null  float64
 22  abl                    248013 non-null  float64
 23  distance               248013 non-null  float64
dtypes: float64(12), int64(4), object(8)
memory usage: 47.3+ MB

### Feature Engineering

port call

In [63]:
# creating time col (duration spent during an event)
# duration travelled = current - prev earliest time
# duration in port = current latest - current earliest
def get_time_difference_in_seconds_from_utc(s1 , s2):
  current_time_timestamp = dt.strptime(s1, '%Y-%m-%dT%H:%M:%S.%f%z').timestamp()
  prev_time_timestamp = dt.strptime(s2, '%Y-%m-%dT%H:%M:%S.%f%z').timestamp()
  duration_timestamp_seconds = current_time_timestamp - prev_time_timestamp
  return duration_timestamp_seconds

def get_port_to_sg_duration(rows):
  s1 = rows['current_earliest_visit_time_utc']
  s2 = rows['prev_country_earliest_visit_time_utc']
  return round(get_time_difference_in_seconds_from_utc(s1 , s2) / 3600 , 5) # rounding to 5 dp

def get_sg_port_duration(rows):
  s1 = rows['current_latest_visit_time_utc']
  s2 = rows['current_earliest_visit_time_utc']
  return round(get_time_difference_in_seconds_from_utc(s1 , s2) / 3600 , 5) # rounding to 5 dp



port_call_dataset['Time from Prev port to SG (h)'] = port_call_dataset.loc[: , ['current_earliest_visit_time_utc' , 'prev_country_earliest_visit_time_utc']].apply(get_port_to_sg_duration, axis=1)
port_call_dataset['Duration in Port (h)'] = port_call_dataset.loc[: , ['current_latest_visit_time_utc' , 'current_earliest_visit_time_utc']].apply(get_sg_port_duration , axis=1)

AIS dataset

In [64]:
# Handling state (transit or anchored)
def get_state(row):
  TRANSIT_NAV_STAT = [0 , 3 , 4 , 8 , 11 , 12]
  if row['speed'] > 1 or row['nav_stat'] in TRANSIT_NAV_STAT:
    return 'Transit'
  elif row['speed'] < 1 and row['nav_stat'] == 0:
    return 'Anchored'

In [65]:
ais_dataset['state'] = ais_dataset.apply(get_state , axis=1)

In [66]:
ais_dataset['state']

0         Transit
1         Transit
2         Transit
3         Transit
4         Transit
           ...
251764    Transit
251765    Transit
251766    Transit
251767    Transit
251768    Transit
Name: state, Length: 248013, dtype: object

SyntaxError: unterminated string literal (detected at line 1) (3674507783.py, line 1)