In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
ais_dataset = pd.read_csv('./datasets/ais_dataset.csv')
distance_dataset = pd.read_csv('./datasets/distance_dataset.csv')
port_call_dataset = pd.read_csv('./datasets/port_call_dataset.csv')

print(ais_dataset.info())
# no terminal, maneuvering , berth
# suggests that only anchored and transit
# we can simply find if anchored or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251769 entries, 0 to 251768
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imo                    251769 non-null  int64
 1   mmsi                   251769 non-null  int64
 2   vessel_name            251769 non-null  object
 3   date_of_build          251769 non-null  object
 4   vessel_type            251769 non-null  object
 5   group                  251769 non-null  object
 6   timestamp              251769 non-null  object
 7   lon                    251769 non-null  float64
 8   lat                    251769 non-null  float64
 9   nav_stat               251769 non-null  int64
 10  speed                  249752 non-null  float64
 11  course                 251769 non-null  int64
 12  heading                250464 non-null  float64
 13  fuel_category          251769 non-null  int64
 14  main_engine_fuel_type  251769 non-null  object
 15  aux_engine_fuel_type   251769 non-null  object
 16  engine_type            251334 non-null  object
 17  berth                  0 non-null       float64
 18  port_name              251769 non-null  object
 19  anchorage              249656 non-null  object
 20  terminal               0 non-null       float64
 21  maneuvering_zone       0 non-null       float64
 22  p                      251318 non-null  float64
 23  vref                   250087 non-null  float64
 24  sfc_me                 251334 non-null  float64
 25  sfc_ae                 251334 non-null  float64
 26  sfc_ab                 251769 non-null  float64
 27  ael                    251769 non-null  float64
 28  abl                    251769 non-null  float64
 29  distance               251769 non-null  float64
dtypes: float64(15), int64(5), object(10)
memory usage: 57.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   current_snapshot_date_utc             4166 non-null   object
 1   imo                                   4166 non-null   int64
 2   current_port_name                     4166 non-null   object
 3   current_port_country_name             4166 non-null   object
 4   current_earliest_visit_time_utc       4166 non-null   object
 5   current_latest_visit_time_utc         4166 non-null   object
 6   current_zone_polygon_name             4166 non-null   object
 7   current_zone_type                     4166 non-null   object
 8   next_port_name                        4047 non-null   object
 9   next_country_name                     4047 non-null   object
 10  next_country_earliest_visit_time_utc  4047 non-null   object
 11  next_country_latest_visit_time_utc    4047 non-null   object
 12  next_zone_polygon_name                3940 non-null   object
 13  next_snapshot_date                    4047 non-null   object
 14  next_zone_type                        3940 non-null   object
 15  prev_port_name                        4166 non-null   object
 16  prev_country_name                     4166 non-null   object
 17  prev_country_earliest_visit_time_utc  4166 non-null   object
 18  prev_country_latest_visit_time_utc    4166 non-null   object
 19  prev_zone_polygon_name                4100 non-null   object
 20  prev_snapshot_date                    4166 non-null   object
 21  prev_zone_type                        4100 non-null   object
dtypes: int64(1), object(21)
memory usage: 716.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12553 entries, 0 to 12552
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   snapshot_date_utc  12553 non-null  object
 1   imo                12553 non-null  int64
 2   distance_nm        12553 non-null  float64
 3   duration_minutes   12553 non-null  float64
 4   avg_speed_kt       12553 non-null  float64
 5   min_speed_kt       12553 non-null  float64
 6   max_speed_kt       12553 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 686.6+ KB
None

2543